@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgb(51, 50, 50);
    border-bottom: 1px solid black;
    box-shadow: #eee;
}
.brand-logo{
    width: 170px;
    color: white;
    cursor: pointer;
    font-weight: bolder;

}

span{
    cursor: pointer;
    color: wheat;
    font-weight: 500;
    font-size: 20px;
}


.nav-list{
    list-style: none;
    

}
.nav-list li{
    display: inline-block;
    padding: 0 20px;

}
.nav-list li a{
    transition: all 0.3s ease 0.3s;

}
.nav-list li a:hover{
    color: wheat;
    text-decoration: none;
}


button{
    padding: 10px 25px;
    margin: 5px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: wheat;

}
p {
    line-height: 1.9rem;
    
}
.hero-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 5%;
}

.hero-content{
    max-width: 60rem;
}

.hero-container .hero-content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    font-weight: 500;
}
.hero-container .hero-content p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}
.main-container{
    margin-top: 50px;
    padding: 10px 20px;
    display: flex;
    font-size: 16px;
    height: 400px;
}

.main-container > div{
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.main-content{
    flex: 3;
    order: 2;
}

.left-sidebar{
    flex: 1;
    order: 1;
}

.right-sidebar{
    flex: 1;
    order: 3;
}

.gallery-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
}


.gallery-container > div{
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    background: #cecece;
    
}
.gallery-container img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: #ccc 3px;
}
.gallery-container img:hover{
    transition: all 0.3s ease 0.3s;
}
.center{
    text-align: center;
    justify-content: center;
}
.leftside-image{
    width: auto;
    padding: 0;
    margin: 0;
}
footer{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(51, 50, 50);
    color: white;
}

.footer > div{
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.footer-list{
    list-style: none;
}
.footer p{
    text-align: center;
    justify-content: center;
}